<html>
  <head>
    {{ content_for_header }}
    {{ 'global.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <div class="container">
      {{ content_for_layout }}
    </div>
  </body>
</html>
