{{ 'section-collection-grid.css' | asset_url | stylesheet_tag }}

{% if section.settings.collection == blank %}
  {% assign collection = collections['just-landed'] %}
{% else %}
  {% assign collection = collections[section.settings.collection] %}
{%- endif %}

<div class="max-width ">
  <div class="container">
    {% if section.settings.grid_heading %}
      <h4>{{ collection.title }}</h4>
    {% endif %}
    {% if section.settings.grid_sub %}
      <p>{{ collection.description }}</p>
    {% endif %}
    <div class="collection-grid">
      {% for product in collection.products limit: section.settings.number %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection grid",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose collection"
    },
    {
      "type": "range",
      "id": "number",
      "min": 4,
      "max": 16,
      "step": 4,
      "label": "Amount of products",
      "default": 4
    },
    {
      "type": "text",
      "id": "grid_heading",
      "label": "Grid heading"
    },
    {
      "type": "text",
      "id": "grid_sub",
      "label": "Grid sub"
    }
  ]
}
{% endschema %}
