{%- assign collection = collections[section.settings.collection] -%}

<h1>{{ section.settings.collection.title }}</h1>

{% for product in collection.products limit: section.settings.number %}
  {% render 'product-card', product: product %}
{% endfor %}

{% schema %}
{
  "name": "Collection grid",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose collection"
    },
    {
      "type": "number",
      "id": "number",
      "label": "Number in grid"
    }
  ],
  "presets": [
    {
      "name": "Collection grid",
      "settings": {
        "collection": "just-landed",
        "number": 4
      }
    }
  ]
}
{% endschema %}
