<h1>{{ section.settings.collection.title }}</h1>

{% for product in collections['{{ section.settings.collection.title }}'].products %}
  {% render 'product-card', product: product %}
{% endfor %}

{% schema %}
{
  "name": "Collection grid",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose collection"
    }
  ],
  "presets": [
    {
      "name": "Collection grid",
      "settings": {
        "collection": "just-landed"
      }
    }
  ]
}
{% endschema %}
