{{ 'section-collection-grid.css' | asset_url | stylesheet_tag }}

{% if section.settings.collection == blank %}
  {% assign collection = collections['just-landed'] %}
{% else %}
  {% assign collection = collections[section.settings.collection] %}
{%- endif %}

<div class="max-width ">
  <div class="container">
    {% if section.settings.grid_heading != blank or section.settings.grid_sub != blank %}
      <div class="titles">
        <h3>
          {{ section.settings.grid_heading }}
        </h3>
        <p>
          {{ section.settings.grid_sub }}
        </p>
      </div>
    {%- endif %}
    <div class="collection-grid">
      {% for product in collection.products limit: section.settings.number %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection grid",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose collection"
    },
    {
      "type": "range",
      "id": "number",
      "min": 4,
      "max": 16,
      "step": 4,
      "label": "Amount of products",
      "default": 4
    },
    {
      "type": "text",
      "id": "grid_heading",
      "label": "Grid heading",
      "default": "Your collection title"
    },
    {
      "type": "text",
      "id": "grid_sub",
      "label": "Grid sub",
      "default": "Your collection sub"
    }
  ]
}
{% endschema %}
