{{ 'section-collection-grid.css' | asset_url | stylesheet_tag }}

{% if section.settings.collection == blank %}
  {% assign collection = collections['just-landed'] %}
{% else %}
  {% assign collection = collections[section.settings.collection] %}
{%- endif %}

<div class="max-width ">
  <div class="container">
    {% for block in section.blocks %}
      <div class="titles">
        {% if block.settings.grid_heading %}
          <h3 class="title">{{ block.settings.grid_heading }}</h3>
        {% endif %}

        {% if block.settings.grid_sub %}
          <p>
            {{ block.settings.grid_sub }}
          </p>
        {% endif %}
      </div>
    {% endfor %}

    <div class="collection-grid">
      {% for product in collection.products limit: section.settings.number %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection grid",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose collection"
    },
    {
      "type": "range",
      "id": "number",
      "min": 4,
      "max": 16,
      "step": 4,
      "label": "Amount of products",
      "default": 4
    }
  ],
  "blocks": [
    {
      "name": "Titles",
      "type": "titles",
      "settings": [
        {
          "type": "text",
          "id": "grid_heading",
          "label": "Grid heading",
          "default": "Your collection title"
        },
        {
          "type": "text",
          "id": "grid_sub",
          "label": "Grid sub",
          "default": "Optional subheader. Clear input if you'd prefer not to show"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection grid"
    }
  ]
}
{% endschema %}
