{{ 'section-collection-grid.css' | asset_url | stylesheet_tag }}

{%- assign collection = collections[section.settings.collection] -%}

<div class="max-width ">
  <div class="container">
    <h4>{{ section.settings.collection.title }}</h4>
    <p>{{ section.settings.collection.description }}</p>
    <div class="collection-grid">
      {% for product in collection.products limit: section.settings.number %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection grid",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose collection"
    },
    {
      "type": "number",
      "id": "number",
      "label": "Number in grid"
    }
  ]
}
{% endschema %}
