{{ 'section-header.css' | asset_url | stylesheet_tag }}

<a href="/"><img src="{{ shop.brand.logo | img_url: '200x' }}"></a>
<div class="link-list">
  {% for link in linklists['main-menu'].links -%}
    <p>{{ link.title | link_to: link.url }}</p>
  {%- endfor %}
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header"
}
{% endschema %}
