<h1>Hello world</h1>

{% schema %}
{
  "name": "hero",
  "settings": [],
  "presets": [{ "name": "Default hero section" }],
  "tag": "header",
  "class": "custom-hero-section",
  "limit": 1
}
{% endschema %}
