{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="content">
  <h3 class="title">{{ section.settings.title }}</h3>
  <button>{{ section.settings.button_text }}</button>
</div>

{% if section.settings.hero_image == blank %}
  {% assign image = 'https://superhi-baggy.myshopify.com/cdn/shop/files/WHILED_SUNNY-SIDE-UP-IG-AD.webp?v=1707586990&width=800' %}
{% else %}
  {% assign image = section.settings.hero_image %}
{% endif %}

<img
  class="image"
  src="{{ image | image_url | image_tag: "image", "image", "200x" }}"
  width="1920"
  height="1080"
>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Text",
      "default": "Your text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Your button text"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button Link"
    }
  ],
  "tag": "section",
  "class": "hero"
}
{% endschema %}
