{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="content">
  {% for block in section.blocks %}
    {% if block.settings.title %}
      <h3 class="title">{{ block.settings.title }}</h3>
    {% endif %}
    {% if block.settings.button_text %}
      <button>{{ block.settings.button_text }}</button>
    {% endif %}
  {% endfor %}
</div>

<img
  src="
    {% if section.settings.hero_image == blank %}
    https://cdn.shopify.com/s/files/1/0687/8924/0057/files/hero.png?v=1707500020 {% endif %}
    {{ section.settings.hero_image | image_url}}
  "
  class="image"
  width="1920"
  height="auto"
>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    }
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title text",
          "default": "Default titl;e"
        }
      ]
    },
    {
      "name": "Button",
      "type": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Default button"
        },
        {
          "type": "url",
          "id": "linkto",
          "label": "Url"
        }
      ]
    }
  ],
  "tag": "section",
  "class": "hero",
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
