{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="content">
  <h3 class="title">{{ section.settings.title }}</h3>
  <button>{{ section.settings.button_text }}</button>
</div>

<img
  src="
    {% if section.settings.hero_image == blank %}
    https://cdn.shopify.com/s/files/1/0687/8924/0057/files/hero.png?v=1707500020 {% endif %}
    {{ section.settings.hero_image | image_url}}
  "
  class="image"
  width="1920"
  height="auto"
>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Text",
      "default": "Your text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Your button text"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button Link"
    }
  ],
  "tag": "section",
  "class": "hero",
  "presets": [
    {
      "name": "Hero",
      "settings": {
        "title": "Your title",
        "button_text": "Your uttin text"
      }
    }
  ]
}
{% endschema %}
