{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="content">
  <h3 class="title">{{ section.settings.title }}</h3>
  <button>{{ section.settings.button_text }}</button>
</div>
<img class="image" src="{{section.settings.hero_image  | image_url: '2x'}}">

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button Link"
    }
  ],
  "tag": "section",
  "class": "hero",
  "presets": [
    {
      "name": "Hero",
      "settings": {
        "title": "Your text here",
        "button_text": "Explore now"
      }
    }
  ]
}
{% endschema %}
