<h1>{{ section.settings.text }}</h1>

{% schema %}
{
  "name": "hero",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [{ "name": "Default hero section" }],
  "tag": "header",
  "class": "custom-hero-section",
  "limit": 1
}
{% endschema %}
