{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="content">
  <h3 class="title">{{ section.settings.title }}</h3>
  <button>{{ section.settings.button_text }}</button>
</div>

{{ section.settings.hero_image} | image_url | image_tag, 'image' }}

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button Link"
    }
  ],
  "tag": "section",
  "class": "hero",
  "presets": [
    {
      "name": "Hero",
      "settings": {
        "hero_image": "https://cdn.shopify.com/s/files/1/0687/8924/0057/files/hero.png?v=1707500020",
        "title": "Your text here",
        "button_text": "Explore now"
      }
    }
  ]
}
{% endschema %}
