<div class="max-width">
  {% for product in collections.all.products %}
    <a href="{{ product.url }}">
      {% render 'product-card', product: product %}
    </a>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Collection"
}
{% endschema %}
