<h1>{{ product.title }}</h1>
{% for image in product.images %}
  {{ image | image_url: width: 300 | image_tag }}
{% endfor %}
<h1>{{ product.description }}</h1>

{% schema %}
{
  "name": "Product"
}
{% endschema %}
