<div class="max-width">
  <div class="collection-grid">
    {% for product in collections.all.products %}
      <a href="{{ product.url }}">
        {% render 'product-card', product: product %}
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collection"
}
{% endschema %}
