<div class="max-width">
  <div class="collection-grid">
    {% for product in collections.all.products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>
  {% for product in collections['just-landed'].products %}
    {% render 'featured-card-horizontal', product: product %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Collection"
}
{% endschema %}
