{{ 'section-product-grid.css' | asset_url | stylesheet_tag }}

{% assign someProduct = all_products['baby-baggu'] %}

{% if section.settings.product_list == blank %}
  <h1>kjhkjh</h1>
  {% render 'featured-card-horizontal', product: someProduct %}
{% endif %}

<div class="max-width wrapper">
  {% for product in section.settings.product_list %}
    {% render 'featured-card-horizontal', product: product %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Product list",
  "tag": "section",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products",
      "limit": 2
    }
  ],
  "presets": [
    {
      "name": "Product list",
      "settings": {
        "product_list": ["Sunny-Side-Up-Jigsaw", "crew-sock"]
      }
    }
  ]
}
{% endschema %}
