header {
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: white;

  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.05);

  .link-list {
    display: flex;
    p {
      margin-right: 0.8rem;
      line-height: 0;
    }
  }
  img {
    width: 12rem;
  }
}
