header {
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: white;

  .link-list {
    display: flex;
    p {
      margin-right: 0.8rem;
      line-height: 0;
    }
  }
  img {
    width: 12rem;
  }
}
