.hero-container {
  display: flex;
  max-height: 700px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
  background: rgb(255, 228, 193);

  .image,
  .content {
    width: 50%;
  }

  .content {
    padding: 40px;

    h2,
    h4,
    p {
      margin-bottom: 1.6rem;
    }
  }

  .image {
    object-fit: cover;
    object-position: top left;
    aspect-ratio: 1 / 1;
  }
}
