.product-card {
  background: #f6f4ee;
  border-radius: 0.8rem;
  overflow: hidden;
  display: inline-block;
  transition: box-shadow 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 10px 15px 27px -21px rgba(0, 1, 65, 0.71);
  }

  .content {
    padding: 1.6rem;
  }
}
